html, body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 2px;
}

h1 {
    height: 50px;
    margin-bottom: 20px !important;
}
#content {
    height: calc(100% - 55px);
}
#metadata {
    height: 30%;
}

#metadatacol {
    height: 100%;
}

#charts {
    height: 70%;
}

#map-wrapper {
    height: 90%;
}
#fonds-de-carte {
    height: 50px;
}
#mapid {
    height: 100%;
}

#icone {
    width: 40%;
}

#pourcentage {
    width: 40%;
}

.legend {
    color: #555;
    padding: 6px 8px;
    margin: 10px 0;
}

h5 {
    text-align: center;
    margin-bottom: 15px;
    color: #3D4C8A;
}
.l-control {
    font: 14px/18px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    bottom: 20px;
    right: 20px;
}

h5 {
    text-align: center;
    margin-bottom: 15px;
    color: #3D4C8A;
}
