html, body {
    width: 100vw;
    height: 100vh;
}


#metadata {
    height: 30%;
}

#metadatacol {
    height: 100%;
}

#charts {
    height: 70%;
}

#map-wrapper {
    height: 100%;
}

#map-wrapper {
    height: 100%;
}
#fonds-de-carte {
    height: 50px;
}
#mapid {
    height: calc(100% - 50px);
}

#icone {
    width: 40%;
}

#pourcentage {
    width: 40%;
}


* {
    /* border: 1px solid black; */
}