html, body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}


#welcome {
    padding: 2px 30px;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: #f8f991;
}

#mapid {
    height: 87%;
    z-index: 1;
}

#navbar {
    z-index: 1000;
    height: 10%;
}
#explications {
  top: 25%;
  left: 20px;
  width: 200px;
  height: 300px;
}

#legend {
  bottom: 50px;
  right: 50px;
  width: 300px;
  height: 400px;
}

#legend, #explications {
    position: fixed;
    z-index: 1000;
    padding: 10px;
    font: 14px/18px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#legend-text, #explication-text{
  padding: 20px 0px;
}

#explication-text span { 
  background-color: orange; 
}

#smiley-wrapper {
  padding: 20px 30px 5px;
}
#logo-img {
  width: 50px;
  height: 50px;
}
#explication-smiley {
  width: 60px;
  height: 60px;
}
#explication-indice {
  width: 100%;
  height: 30px;
}

#special {
  display: none;
}