html, body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: whitesmoke;
}


#welcome {
    padding: 2px 30px;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: #f8f991;
}

#mapid {
    height: 500px;
    z-index: 1;
    border: 1px solid grey;
    box-shadow: 2px 2px 20px -5px grey;
}

#navbar {
    z-index: 1000;
    height: 10%;
}

.legende {
    width: 250px;
    height: 280px;
    z-index: 1000;
    padding: 10px;
    margin: 25px;
    font: 14px/18px Arial, Helvetica, sans-serif;
    background: rgb(250, 250, 250);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

#legend-text, #explication-text {
    padding: 20px 0px;
}

#explication-text span {
    background-color: orange;
}

#smiley-wrapper {
    padding: 20px 30px 5px;
}

#logo-img {
    width: 50px;
    height: 50px;
}

#explication-smiley {
    width: 60px;
    height: 60px;
}

#explication-indice {
    width: 100%;
    height: 30px;
}

#special {
    display: none;
}

#sticky-footer {
    flex-shrink: none;
}
